<br>
<br>
<div style="width:1090px" id="CONTACT" class="footer">
  <div class=" section">
    <div class="inner-section1">
      <b>PHONE NUMBER</b>
      <a href="#">929-000-8888</a>
    </div>
  </div>

  <div class=" section">
    <div class="inner-section2">
      <b>EMAIL</b>
      <a href="fariahafsa900@gmail.com">send email</a>
    </div>
  </div>

  <div class=" section">
    <div class="inner-section3">
      <b>ADDRESS</b>
      <a href="#">222-05, 56 Avenue Bayside NY, 11364</a>
    </div>
  </div>

  <div class=" section">
    <div class="inner-section4">
      <b>OFFICE</b>
      <a href="#">TECHNOLOGY BUILDING</a>
    </div>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="social">
    <h5>CONNECT WITH ME</h5>
    <div class="icons">
      <ul>
        <li><a href="#"><img src="https://i.pinimg.com/736x/91/4d/e6/914de662ac57138cda4a401ff37b444e.jpg"></a></li>
        <li><a href="#"><img src="https://i.pinimg.com/736x/5e/ff/6c/5eff6c25d920f6a78fda288e6589bf8b.jpg"></a></li>
        <li><a
            href="#"><img src="https://cdn3.iconfinder.com/data/icons/social-media-circle/512/circle-twitter-512.png"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="credit">
    <p>2021 ET Final Project by Hafsa Faria All Rights Reserved.</p>
  </div>
</div>