<a [routerLink]="['/']" class="navbar-brand heading-text pl-lg-5"
  href="#home"><span style="color: #28A745;">Portfolio</span></a>

<div style="margin-top:-10px" class="secondborder">
  <div align="center" class="div">
    <button type="button" name="button" class="btn b4">
      <a class="addd btn btn-dark" routerLink="/">HOME</a>
    </button>
    <button type="button" name="button" class="btn b2 ">
      <a class="addd btn btn-dark" routerLink="/shipping">ACADEMIC</a>
    </button>
    <button type="button" name="button" class="btn b3">
      <a class="addd btn btn-dark" routerLink="/graphic">CONTACT</a>
    </button>

  </div>
</div>